<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/slaveMarket</property>
        <property name="hibernate.connection.username">s3rius</property>
        <property name="hibernate.connection.password">19216211</property>
        <property name="hibernate.transaction.auto_close_session">true</property>
        <!--<property name="show_sql">true</property>-->

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>


        <mapping class="model.postgresqlModel.Users"/>
        <mapping class="model.postgresqlModel.tables.merchandises.Aliens"/>
        <mapping class="model.postgresqlModel.tables.Merchandises"/>
        <mapping class="model.postgresqlModel.tables.merchandises.Slaves"/>
        <mapping class="model.postgresqlModel.tables.merchandises.Foods"/>
        <mapping class="model.postgresqlModel.tables.merchandises.Poisons"/>
        <mapping class="model.postgresqlModel.tables.Classes"/>
        <mapping class="model.postgresqlModel.tables.Deals"/>
        <mapping class="model.postgresqlModel.tables.News"/>
    </session-factory>
</hibernate-configuration>